body
{
    background-color: aliceblue;
    /*background-repeat: repeat-x;*/
}
main
{
    width: 1024px;
    min-height: 100vh;
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.child
{
    position: absolute;
    right: 0px;
    bottom: 0;
    background-color: rgb(255, 0, 0);
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

.parent
{
    position:relative;
    background-color: rgb(50, 53, 52);
    width: 200px;
    height: 200px;
    margin-top: 60px;
    border-radius: 9999px;
    background-image: url(https://static.wikia.nocookie.net/the-omega-nextbot-chaos/images/1/1c/LowTierGod.png/revision/latest?cb=20221123152532);
}

h1{
    font-style: italic;
    font-size: 28px;

}

.round{
    border-radius: 100%;
    zoom: 40%;
}
 .image{
    height: 100%;
    width: 100%;
    background-color: silver;
    background-image: url(https://themarketingfolks.com/wp-content/uploads/2022/07/Low-Tier-God-e1658212292330-818x490.jpg);
 }
 .gallary{
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows  : repeat(4,300px);
    gap:20px;
    margin-top: 30px;
 }
 
 .row{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 20px;
 }
 .button{
    display:grid;
    gap: 20px;

 }