body
{
    background-color: aliceblue;
    /*background-repeat: repeat-x;*/
}
main
{
    width: 1024px;
    min-height: 100vh;
    border: 2px black;
    margin-left: 100px;
}

.parent
{
    border-radius: 100%;
    border-bottom-right-radius: 50%;
    background-color: aquamarine;
}

.child
{
    
}

h1{
    font-style: italic;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.round{
    border-radius: 100%;
    zoom: 40%;
}
 .image{


 }