body
{
    background-color: aliceblue;
    /*background-repeat: repeat-x;*/
}
main
{
    width: 1024px;
    min-height: 100vh;
    border: 2px black;
    margin-left: 100px;
}

.child
{
    position: relative;
    right: 0px;
    bottom: 0;
    background-color: antiquewhite;
    width: 75px;
    height: 75px;
    border-top-left-radius: 9999px;
}

.parent
{
    position:relative;
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    margin-top: 60px;
    border-radius: 9999px;
}

h1{
    font-style: italic;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.round{
    border-radius: 100%;
    zoom: 40%;
}
 .image{
    height: 100%;
    width: 100%;
    background-color: silver;
 }
 .gallery{
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-row: repeat(4,400px);
    gap:20px;
    margin-top: 30px;
 }
 
 .row{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 20px;
 }
 .button{
    display:grid;
    gap: 20px;

 }